<div class="top-row navbar navbar-dark">
    <div class="container-fluid justify-content-lg-center">
        <a class="navbar-brand me-0" href="">
            <h3 class="fw-bold">Center Sprog</h3>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Policy="MustBeUser">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/my-classes" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Classes
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Policy="MustBeAdmin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> Admin Menu
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/register">
                    <span class="oi oi-people" aria-hidden="true"></span> Register Users/Classes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/assign">
                    <span class="oi oi-monitor" aria-hidden="true"></span> Assign Users/Classes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/users">
                    <span class="oi oi-dial" aria-hidden="true"></span> View Users
                </NavLink>
            </div>
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}