
@if (ShowModal)
{
    <div class="modal-background" style="display:block; height: 100%">
        <div class="modal-box d-flex flex-column">
            <button type="button" class="btn btn-light align-self-end" @onclick="@Proceed"><span class="oi oi-x"></span></button>
            @ChildContent
        </div>
    </div>
}



@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
    
    [Parameter]
    public bool ShowModal { get; set; }
    
    private void Proceed()
    {
        ShowModal = false;
    }
}