@page "/admin/register"
@attribute [Authorize("MustBeAdmin")]

<h3>Admin Register</h3>
<section class="mt-3 container d-flex flex-column flex-md-row w-100">
    <span>
         <RegisterUserComponent/>
    </span>
         
    <hr/>
        
    <span class="mt-3 mt-md-0 ms-md-3">
        <RegisterClassComponent/>
    </span>
    
</section>
<a class="btn btn-outline-secondary mt-3" href="admin">Back to admin page</a>

@code {
    
}